{%- if section.settings.show_announcement -%}
  {% if section.settings.home_page_only and template.name != 'index' %}
    {% assign show_announcement = false %}
  {% else %}
    {% assign show_announcement = true %}
  {% endif %}
{% else %}
  {% assign show_announcement = false %}
{% endif %}

{% if show_announcement %}
  <div class="announcement-bar" style="background-color: {{ section.settings.background_color }}; color: {{ section.settings.text_color }}; height: {{ section.settings.height }}px; line-height: {{ section.settings.height }}px; ">
    <div class="flex gap-2 w-full container m-auto justify-{{ section.settings.text_position }}">
      <div class="announcement-bar__text">
        {{ section.settings.text }}
      </div>
      {% if section.settings.link and section.settings.use_bar_as_link != true %}
        <a
          href="{{ section.settings.link }}"
          class="underline"
          style="color: {{ section.settings.link_color }};">
          {{ section.settings.link_text }}
        </a>
      {% endif %}
    </div>
  </div>
  {% if section.settings.use_bar_as_link %}
    <style>
      .announcement-bar {
        cursor: pointer;
      }
      .announcement-bar:hover .announcement-bar__text {
        color: {{ section.settings.link_color }};
        transition: color 0.3s;
      }
    </style>
    <script>
      document.querySelector('.announcement-bar').addEventListener('click', function() {
        window.location.href = '{{ section.settings.link }}';
      });
    </script>
  {% endif %}
{% endif %}

{% schema %}
  {
    "name": "t:sections.announcement_bar.name",
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.announcement_bar.general_info"
      },
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "t:sections.announcement_bar.show_announcement_bar",
        "default": false,
        "info": "t:sections.announcement_bar.show_announcement_bar_info"
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "t:sections.announcement_bar.home_page_only",
        "default": true,
        "info": "t:sections.announcement_bar.home_page_only_info"
      },
      {
        "label": "t:sections.announcement_bar.use_as_a_link",
        "type": "checkbox",
        "id": "use_bar_as_link",
        "default": false,
        "info": "t:sections.announcement_bar.use_as_a_link_info"
      }, {
        "label": "t:sections.announcement_bar.height",
        "type": "range",
        "id": "height",
        "min": 20,
        "max": 60,
        "step": 1,
        "default": 40,
        "unit": "px"
      }, {
        "type": "paragraph",
        "content": "t:sections.announcement_bar.colors_info"
      }, {
        "type": "color",
        "id": "background_color",
        "label": "t:sections.announcement_bar.background_color",
        "default": "#000000"
      }, {
        "type": "color",
        "id": "text_color",
        "label": "t:sections.announcement_bar.text_color",
        "default": "#ffffff"
      }, {
        "type": "color",
        "id": "link_color",
        "label": "t:sections.announcement_bar.link_color",
        "default": "#ffffff"
      }, {
        "label": "t:sections.announcement_bar.text_position.label",
        "type": "select",
        "id": "text_position",
        "options": [
          {
            "value": "start",
            "label": "t:sections.announcement_bar.text_position.left"
          }, {
            "value": "center",
            "label": "t:sections.announcement_bar.text_position.center"
          }, {
            "value": "end",
            "label": "t:sections.announcement_bar.text_position.right"
          }
        ],
        "default": "center"
      }, {
        "type": "text",
        "id": "text",
        "label": "t:sections.announcement_bar.text",
        "default": "t:sections.announcement_bar.text_placeholder"
      }, {
        "type": "text",
        "id": "link_text",
        "label": "t:sections.announcement_bar.link",
        "default": "t:sections.announcement_bar.link_placeholder"
      }, {
        "type": "url",
        "id": "link",
        "label": "t:sections.announcement_bar.url"
      }
    ]
  }
{% endschema %}